body {
    margin: 0;
    background-image: url("./img/fundo.png");
}
#cabecalho {
    height: 75px;
    width: 100%;
    background-color: rgb(61, 139, 206);
}
#logo {
    position: absolute;
    image-rendering: crisp-edges;
}
#div_PC {
    position: absolute;
    margin-left: 75px;
    height: 75px;
    width: 40px;
    text-align: center;
    line-height: 90px;
}
#div_PC:hover {
    background-color: rgb(148, 195, 236);
    cursor: pointer;
}
#link_cabecalho { 
    text-decoration: none;
    color: white;
    font: normal 14px/normal Impact, Charcoal, sans-serif;
}
#div_PSP {
    position: absolute;
    margin-left: 115px;
    height: 75px;
    width: 40px;
    text-align: center;
    line-height: 90px;
}
#div_PSP:hover {
    background-color: rgb(148, 195, 236);
    cursor: pointer;
}
#div_N64 {
    position: absolute;
    margin-left: 155px;
    height: 75px;
    width: 40px;
    text-align: center;
    line-height: 90px;
}
#div_N64:hover {
    background-color: rgb(148, 195, 236);
    cursor: pointer;
}
#div_APK {
    position: absolute;
    margin-left: 195px;
    height: 75px;
    width: 65px;
    text-align: center;
    line-height: 90px;
}
#div_APK:hover {
    background-color: rgb(148, 195, 236);
    cursor: pointer;
}
#div_EMU {
    position: absolute;
    margin-left: 260px;
    height: 75px;
    width: 75px;
    text-align: center;
    line-height: 90px;
}
#div_EMU:hover {
    background-color: rgb(148, 195, 236);
    cursor: pointer;
}
#principal {
    position: absolute;
    width: 300px;
    height: 320px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    box-shadow: 2 10px 30px -10px #999;
}
#text {
    color: black;
    font: Comic Sans MS, Blackadder ITC, Lucida Handwriting, Brush Script;
    margin: 10px;
}
p {
    font-size: 10px;
    text-align: justify;
    line-height: 20px;
}
#rodape {
    position: absolute;
    bottom: 0;
    background-color: rgb(61, 139, 206);
    width: 100%;
    height: 75px;
    line-height: 20px;
    font: Comic Sans MS, Blackadder ITC, Lucida Handwriting, Brush Script;
    font-size: 15px;
    text-align: center;
    color: white;
}